.preview {
  width: 70%;
  margin: 2rem auto;
  padding: 1rem;

  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 0 0 10px 1px #eee;
}

ul{
  list-style-type: none;
}

.preview a {
  text-decoration: none;
}

.preview a:hover {
  text-decoration: underline;
}

.preview--h2 {
  margin-top: 0.3rem;

  text-align: center;

  font-size: 1.2rem;
  font-weight: 400;
}

.preview img {
  width: 100%;
  height: auto;

  transition: ease-in-out .2s;

  border-radius: 2px;
}

.preview img:hover {
  transition: ease-in-out .2s;
  transform: scale(1.03,1.03);
}
